/* latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(https://fonts.gstatic.com/s/dancingscript/v10/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


body {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    color: black;
    text-align: center; 
    background-image: url(picture/hackertransporent@1X.png);
    background-position: center;
    background-size: cover;
    height:100%;
}

header, main, footer {      
    width: 50%;
    margin: 0px auto;   
    min-width: 1024px;
}
  
.headerimg {
    background-image: url(picture/mainfon.png);
    background-position: center;
    border: 4px double blue;
    height: 10px;
}

nav {
    text-align: center;   
    text-transform: uppercase;
    color: rgb(30, 0, 100);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    height: 35px ;
    margin-top: 15px;
    margin-bottom: auto;    
}

.navigation {
    border: 2px solid;
    border-radius: 15px;
    margin-left: 15px;
    padding: 5px;
    margin-right: 15px;    
}

main, footer {
    background-image: url(picture/mainfon.png);
    background-position: center;
    background-repeat:  no-repeat;
    border: 4px double blue;    
}

section {
    margin: 20px;
}

.foto {
    height:250px ;
}

img {
    border: 4px double green;
    float: left;
    height: 241px;
    margin-right: 20px;
    margin-left: 40px;
}

img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.toptext>a {
    color: black;
}

.text {
    text-align: justify;
}


h2 {
    font-size: 28px;
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;   
}

.educ {
    margin-left: 93px;
}

a {
    text-decoration: none;
}

a:hover {
   color: paleturquoise;
}

a:visited {
    color: green;
}




 